<!-- <div class="flex-container">

  <app-schedule *ngFor="let elem of elems" [lineCode]="elem.code" [lineType]="elem.type" [stationSlug]="elem.slug">

  </app-schedule>
</div> -->
<div class="flex-container space-between" cdkDropList (cdkDropListDropped)="drop($event)">
  <!-- <mat-accordion class="example-headers-align" cdkDropList (cdkDropListDropped)="drop($event)" multi> -->
  <div class="flex-item" *ngFor="let favory of favoryList; let first = first" cdkDrag>

    <mat-expansion-panel [expanded]="false"  #panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img style="width: 30px; margin:3px" [src]="getIcon(favory.type)" />
          <img style="width: 30px; margin:3px" [src]="getIcon(favory.type, favory.code)" />
        </mat-panel-title>
        <mat-panel-description>
          {{favory.stationName}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-schedule-item *ngIf="panel.expanded" [lineCode]="favory.code" [lineType]="favory.type" [stationSlug]="favory.slug" [displayFilters]="true">
      </app-schedule-item>

    </mat-expansion-panel>

    <app-schedule-item *ngIf="!panel.expanded" [lineCode]="favory.code" [lineType]="favory.type" [stationSlug]="favory.slug" [activeFilter]="true">
    </app-schedule-item>
  </div>
  <!-- </mat-accordion> -->
</div>