.message-bloc{
    min-width: 50px;
    text-align: center;
    background-color: blue;
    border-radius: 3px;
    padding: 8px;

}
.code{
margin-right: 8px;
padding:5px;
background-color: white;
border-radius: 3px;
cursor: pointer;
}
.message{
color: white;
font-weight: 700;
}



// .label{
//     text-align: center;
//     justify-content: center;
//     background-size: cover;
//     position: relative;
//     vertical-align: middle;
//     margin:5px;
// }